@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu';
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Global Styles */
 
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
}

.sidebar h1{
    color: #fff;
    padding: 30px ;
    margin: 0;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar a{
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;    
}   

.sidebar a:hover{
    background-color: #555;
}

.sidebar socials{
    margin-top: auto;
    display: flex;
    gap: 10px;
    padding: 15px;
    position: absolute;
    bottom: 0;
}

.sidebar socials a{
    color: #fff;
    font-size: 20px;
} 

.main h1{
    margin: 0px;
    margin-left: 200px;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 35px;
}

.main h2{
    margin: 0px;
    height: auto;
    margin-left: 200px;
    display : flex;
    justify-content: left;
    align-items: left;
    font-size: 100px;
}

.main p{
    margin-left: 200px;
    height: auto;
    display : flex;
    justify-content: left;
    align-items: left;
    font-size: 20px;
}

/* Welcome Page */

.welcome-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.welcome-bar{
    position: fixed;
    width: 100%;
    height: auto;
    top: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-bar ul{
    list-style-type: none;
    width: auto;
    margin: 0;
    display: flex;
    gap: 50px;
}

.welcome-bar a{
    display: block;
    padding: 50px;
    color: #fff;
    text-decoration: none; 
    background-color: #333;
    border-radius: 10px;
}

.welcome-bar a:hover{
    background-color: #555;
}

.main-welcome h1{
    margin: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.main-welcome h2{
    margin: 0px;
    height: auto;
    margin-top: 20px;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.main-welcome p{
    margin-top: 50px;
    height: auto;
    display : flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

body {
    background-color: #c0c0c0;
}

html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}