@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu';
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
}

.sidebar h1{
    color: #fff;
    padding: 30px ;
    margin: 0;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar a{
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;    
}   

.sidebar a:hover{
    background-color: #555;
}

.sidebar footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: left;
    color: #d68eff;
}

.main-content{
    margin-left: 200px;
    padding: 20px;
}

body {
    background-color: #c0c0c0;
}
